<p>drag-it-please works!</p>

<div class="drag-container">

  <!--
  <div *ngFor="let dropzone of dropZones" class="drop-zone">
    <div *ngFor="let item of getDroppedItems(dropzone)"
         class="dropped-item"
         [style.background-color]="item.color">
      {{ item.text }}
    </div>
  </div>
  -->

  <!--
  <svg height="800" width="1200">
    <line
          [attr.x1]="10"
          [attr.y1]="10"
          [attr.x2]="100"
          [attr.y2]="10"
          style="stroke:rgb(0,0,0);stroke-width:2">
    </line>
  </svg>
  -->

  <!-- all the waggons -->
  <div *ngFor="let item of getDraggableItems()"
       class="draggable-item"
       [style.height]="50+'px'"
       [style.width]="75+'px'"
       [style.left]="item.left+'px'"
       [style.top]="item.top+'px'"
       [style.background-color]="item.color"
       draggable="true"
       (dragstart)="dragStart($event, item)"
       (dragend)="dragEnd($event, item)">
    {{ item.text }}
  </div>

</div>

<!-- a drop zone for every waggon -->
<div *ngFor="let item of getDraggableItems()" class="drop-zone"
     [style.height]="30+'px'"
     [style.width]="30+'px'"
     [style.left]="item.left+'px'"
     [style.top]="(item.top+200)+'px'"
     (dragover)="dragOver($event)"
     (drop)="drop($event)">
</div>
