<div class="drag-container">

  <!-- occupied tracks -->
  <div *ngFor="let track of getOccupiedTracks()" class="track-item" (click)="trackClicked(track)"
       [style.left]="track.xFrom+'px'"
       [style.top]="track.yFrom+'px'"
       [style.height]="getTrackHeight()+'px'"
       [style.transform]="'rotate('+(track.rotation)+'deg)'"
       [style.width]="track.lenght+'px'">

    <!-- all the waggons -->
    <div *ngFor="let waggon of track.waggons"
         (click)="waggonClicked(waggon)"
         (mouseenter)="toggleToolTip($event, waggon, true)"
         (mouseleave)="toggleToolTip($event, waggon, false)"
         class="waggon-item"
         [style.height]="30+'px'"
         [style.width]="waggon.renderingLength+'px'"
         [style.left]="(calculateWaggonOffsetOnTrack(waggon))+'px'"
         [style.top]="waggon.y+'px'"
         draggable="true"
         (dragstart)="dragStart($event, waggon)"
         (dragend)="dragEnd($event, waggon)">
      <!-- {{ waggon.waggonNumber }} -->
    </div><!-- a drop zone for every waggon -->
    <div *ngFor="let waggon of track.waggons" class="waggon-dropzone"
         [style.height]="30+'px'"
         [style.width]="(calculateDropzoneLenght(waggon))+'px'"
         [style.left]="(calculateDropzoneOffsetOnTrack(waggon))+'px'"
         [style.top]="(waggon.y)+'px'"
         (dragover)="dragOver($event)"
         (drop)="dropWaggonToWaggon($event, waggon)">
    </div>
  </div>

  <!-- empty tracks (completely as drop zone) -->
  <div *ngFor="let track of getEmptyTracks()" class="track-item" (click)="trackClicked(track)"
       [style.left]="track.xFrom+'px'"
       [style.top]="track.yFrom+'px'"
       [style.height]="getTrackHeight()+'px'"
       [style.width]="track.lenght+'px'"
       [style.transform]="'rotate('+(track.rotation)+'deg)'"
       (dragover)="dragOver($event)" (drop)="dropWaggonToTrack($event, track)">
  </div>

  <!-- tooltip -->
  <div id="tt_display" class="tooltip">{{generateToolTip()}}</div>

</div>
