.drag-container {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: auto;
  border: 1px solid silver;
  transform: scale(1);
}

.waggon-dropzone {
  position: absolute;
  background-color: white;
  /*border: 1px solid black;*/
}

.track-item {
  position: absolute;
  border: 1px solid silver;
  /*transform: rotate(0deg);*/
  transform-origin: top left;
}

.waggon-item {
  position: absolute;
  border-radius: 0%;
  border: 1px solid silver;
  border-radius: 0%;
  text-align: center;
  line-height: 30px;
  transform: rotate(0deg);
  /*background: linear-gradient(0deg, transparent 49%, #000 50%, transparent 51%);*/
}

.dropped-item {
  text-align: center;
  line-height: 20px;
}
