.drag-container {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.drop-zone {
  position: absolute;
  background-color: white;
  border: 1px solid silver;
}

.draggable-item {
  position: absolute;
  border-radius: 0%;
  border: 1px solid silver;
  text-align: center;
  line-height: 30px;
  transform: rotate(0deg);
  background: linear-gradient(0deg, transparent 49%, #000 50%, transparent 51%);
}

.dropped-item {
  text-align: center;
  line-height: 20px;
}
