<div class="trackview" (scroll)="trackViewScrolled($event)">

 <div class="tv-track-item" *ngFor="let track of tracks"
       id="{{track.generateTagId()}}"
       [style.left]="calculateTrackLeft(track)+'px'"
       [style.top]="calculateTrackTop(track)+'px'"
       [style.height]="calculateTrackHeight(track)+'px'"
       [style.width]="calculateTrackLength(track)+'px'"
       [style.border]="getTrackBorder(track)"
       [style.transform]="'rotate('+(calcaluateRotation(track))+'deg)'"
       title="{{generateTrackToolTip(track)}}"
       (dragover)="dragOver($event)"
       (drop)="dropWaggonToTrack($event, track)">

    <div class="tv-waggon-item" *ngFor="let waggon of track.waggons"
         [style.left]="calculateWaggonOffsetOnTrack(waggon)+'px'"
         (click)="waggonClicked(waggon)"
         [style.top]="calculateWaggonTop(waggon)+'px'"
         [style.height]="calculateWaggonHeight(waggon)+'px'"
         [style.width]="calculateWaggonLength(waggon)+'px'"
         [style.background]="getWaggonColor(waggon)"
         title="{{generateWaggonToolTip(waggon)}}"
         draggable="true"
         (dragover)="dragOver($event)"
         (dragstart)="dragStart($event, waggon)"
         (dragend)="dragEnd($event, waggon)"
         (drop)="dropWaggonToWaggon($event, waggon)">
    </div>
  </div>

  <div class="endpoint" *ngFor="let track of tracks"
       [style.left]="calculateTrackEndpointX(track)+'px'"
       [style.top]="calculateTrackEndpointY(track)+'px'"
       [style.height]="getEndpointHeight()+'px'"
       [style.width]="getEndpointHeight()+'px'"
       title="endpoint of {{track.trackNumber}}">
  </div>

</div>

<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
{{zoomFactor}}
